@charset "utf-8";
/*通用*/
#banner {
    display:none;
}
div{
    display: inline-block;
}
/****************************Detail:V01**********************************/
#main {
    display: flex;
    flex-direction: row;
    /*允许项目换行*/
    flex-wrap: wrap;
    overflow:hidden;
    border:1px solid red;
}
section{
    width: 1211px;
    margin:0 auto;
}
#bread-crumb{
    width: 1211px;
    /*background: red;*/
}
#produck_intro{
    width: 1211px;
    /*background: green;*/
}
#lf_product{
    width: 211px;
    /*background: blue;*/
    /*display: inline-block;*/
}
#rt_product{
    width: 986px;
    margin-left: 10px;
    /*background: yellow;*/
}
#bread-crumb b{
    font-size: 18px;
}

/************************产品介绍**************************/
#produck_intro{
    display: flex;
    height: 400px;
    justify-content: space-between;
    margin: 10px 0;
}

#produck_intro #preview{
    width: 350px;
    height: 350px;
}
#preview>p{
    border: 1px solid #ddd;
}
#preview>div{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
#preview>div>a{
    width: 17px;
    height: 54px;
    margin-top: 3px;
    background: url("images/iconlist_1.png") no-repeat 0 -141px;
}
#preview>div>a.next{
    background-position: -19px -142px;
}
#preview>div>ul{
    /*弹性布局，宽度，项目对齐方式*/
    display: flex;
    width: 310px;
    justify-content: space-between;
}
#preview>div li{
    width: 54px;
    height: 54px;
    border: 1px solid #ddd;
}

#preview>div li:hover{
    border: 2px solid #e4393c;
}