/*****************通用（初始化样式）*****************/
body{
    font: 12px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#666;
    margin:0;
    padding:0;
}

ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin: 0;
    padding:0;
    list-style: none;
    border: none;
    /*所有元素给定宽和高均包含boder和padding*/
    /*box-sizing: border-box;*/
}
input{  border:none;  }
.lf{  float: left;  }
.rt{  float: right; }
.clear{  clear: both;  }

a:hover{
    color: red;
}
/************整体布局*****************/
#top_box,#top_main,#nav,#banner,#main,#footer,#foot_box{
    width: 1211px;
    margin:0 auto;

}
#top_main{
    /*height: 60px;*/
    padding: 15px 0;
}
 /*页面顶部*/
#top{
    /*高度，行高，背景颜色，下边框*/
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
}
#top_box{
    height: 30px;
}
#top_box.cookies{
    float: left;
    margin: 8px 4px 0 0;
}

#top_box>img{
    display: block;
    float: left;
    margin: 9px 4px 0 0;
}
#top_box.rt{
    float: right;
}

.rt>ul>li{
    float: left;
    text-align: center;
    position: relative;
    /*margin-right: 5px;*/
    z-index: 1;
}

.rt>ul>li>b{
    border-left:1px solid #ddd;
    margin:0 5px;
}

.rt li.vip a{
    /*左内边距 背景图*/
    padding-left: 29px;
    /*居中，水平不动 0，垂直 center*/
    background:url("images/vip.jpg") no-repeat 0 center ;
}

#top li.chanel a{
    padding-left: 26px;
    background: url("images/dakehu.jpg") no-repeat 0 center;
}

#top li.mobile a{
    /*修改高度：行内块，高度，行高，左内边距，背景*/
    display: inline-block;
    height: 22px;
    line-height:30px;
    padding-left: 18px;
    background: url("images/iconlist_2.png")
    no-repeat -128px -360px;
}

#top li.mobile a:hover{
    background-position: -128px -399px;
}

/*配合#service-items的绝对定位*/
li.service{
    position: relative;
}

#top li.service>a{
    /*左右内边距，高度，行内块，行高，背景颜色，边框透明,绝对定位*/
    padding: 0 15px;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    border: 1px solid transparent;
    border-bottom: none;
    background:url("images/jt_down.jpg")
    no-repeat 95% center;

}
/*鼠标移入，找到service-items,弹出下拉框*/
li.service:hover #service-items{
    display: block;
}


#top li.service:hover>a{
    border-color: #ddd;
    background: #fff url("images/jt_up.jpg") no-repeat 95% center;
}

#service-items{
    /*左右上边框，背景颜色，宽度，内容水平居中对齐*/
    border:1px solid #ddd;
    border-top:none;
    background-color: #fff;
    width: 78px;
    text-align: center;
    /*定位*/
    position: absolute;
    left:11px;
    top: 27px;
    display:none;
}

#service-items li{
    padding-left: 13px;
    margin: 0;
}

/************2.logo和搜索框***************/
#search_box {
    width: 510px;
    padding: 4px 80px 0 40px;
    position:relative;
    margin-top: 10px;
}
div.search {
    width:500px;
    height: 33px;
    margin-bottom: 5px;
    border: 3px solid #E4393C;
    background-color:#E4393C;
}


.search input.text {
    width: 405px;
    height: 20px;
    padding: 5px;
    background-color: #fff;
    line-height: 20px;
    color: #999;
    outline: none;
    /*font-size: 13px;*/
    /*font-family: arial,"\5b8b\4f53";*/
}
.search input.button {
    width: 75px;
    height: 30px;
    background: #E4393C;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.search input.button:hover{
    cursor: pointer;
}

.hot_words{
    /*float: left;*/
    height: 18px;
    color: #999;
    overflow: hidden; //超出隐藏
}

.hot_words span,a{
    /*float: left;*/
    color: #999;
    font-weight: 400;
    margin-right: 7px;
}
.hot_words span{
    margin: 0;
}

.hot_words a{
    color: #999;
}

/*************我的京东************************/
div #my_jd {
    /*float: left;*/
    width: 65px;
    height: 30px;
    border: 1px solid #EFEFEF;
    line-height: 30px;
    margin-top: 15px;
    background: #f7f7f7
    url(images/iconlist_2.png) no-repeat -116px -24px;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 0 4px 0 25px;
}

div #my_jd b{
    /*边框透明，上边框#ddd*/
    border: 5px solid transparent;
    border-top-color: #ddd;
    /*相对定位：位置微调*/
    position: relative;
    top: 10px;
}
div #my_jd:hover{
    background: #fff url("images/iconlist_2.png") no-repeat -116px -54px;
}

/******************去购物车结算*******************/
div #settle_up {
    /*float: left;*/
    width: 90px;
    height: 30px;
    border: 1px solid #EFEFEF;
    line-height: 30px;
    margin: 15px 0 0 20px;
    background: #f7f7f7
    url(images/iconlist_2.png) no-repeat -118px -83px;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 0 4px 0 25px;
}

div #settle_up b{
    /*边框透明，上边框#ddd*/
    border: 5px solid transparent;
    border-top-color: #ddd;
    /*相对定位：位置微调*/
    position: relative;
    top: 10px;
}
div #settle_up:hover{
    background: #fff url("images/iconlist_2.png") no-repeat -118px -114px;
}

/*********************主导航*****************************/
#nav{
    height: 40px;
    background-color: #e64346;
}
#nav p{
    width: 210px;
    height: 40px;
    line-height: 40px;
    background-color: #cd2a2c;
    float: left;
}
#nav>p a{
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
    /*background: url("images/iconlist_2.png") no-repeat 56px -65px;*/
}


#nav>ul li{
    float: left;
}

#nav>ul li>a{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-right: 0;
    text-align: center;
}

#nav>ul li a:hover{
    background-color: #bd2a2c;
}

/****************1.主分类***********************/
#cate_box{
    float: left;
    width: 206px;
    height: 416px;
    border: 2px solid #e4393c;
    border-top-width: 0px;
    background-color: #fafafa;
    overflow: visible;
}
#cate_box>li{
    width: 190px;
    height: 28px;
    border-bottom: 1px solid #fff;
}
#cate_box>li>a{
    display: inline-block;
    width: 186px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    padding-left: 13px;
}
#cate_box>li>a:hover{
    background-color: white;
    border-color: #ddd;
    position: relative;
    z-index: 30;
}
/*鼠标移入弹出*/
#cate_box li:hover #sub_cate_box{
    display: block;
}

/*******************弹窗*******************/
#cate_box{
    position: relative; /*配合弹窗绝对定位*/
}
.sub_cate_box{
    width: 720px;
    min-height: 300px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px;
    position: absolute;
    left: 195px;
    top: 0;
    z-index: 10;
    display: none;
}

.sub_cate_box div.close{
    width: 20px;
    height: 20px;
    background-color: #555;
    border-radius: 50%;
    color: #fff;
    font-weight:bold;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -5px;

}
/*****************弹出框内容***************/
.sub_cate_items{
    width: 500px;
    min-height: 100px;
    float: left;
}

.sub_cate_items ul{
    /*撑起当前元素高度怎么没实现？？？*/
    overflow: hidden;
    /*这个高度为什么没有继承？？*/
    width: 500px;
    border-top: 1px solid #eeeeee;
    /*竖线边框*/
    padding:5px 0;
}
.sub_cate_items ul>li{
    float: left;
    padding-left: 10px;
    padding-bottom: 5px;
    border-left: 1px solid #999;
}
.sub_cate_items ul>li.title{
    display: inline-block;
    width: 70px;
    text-align: right;
    text-decoration: underline;
    border-left: none;
}
.sub_cate_items ul li.title a{
    color: #cd2a2c;
    font-weight:bold;
}
/*************弹框右侧广告*************/
#cate_box div.sub_cate_banner{
    float: right;
    width:194px;
    min-height: 100px;
    margin-right: 10px;
}
#cate_box div.sub_cate_banner h4{
    color: #e4393c;
}
#cate_box div.sub_cate_banner li{
    /*padding: 3px;*/
    margin: 3px 0;
}
/***************滑动广告**************/
/*避免占高度？？？？？？？*/
img{
    vertical-align: bottom;
}
#slider_box{
    float: left;
    width: 670px;
    height: 400px;
    margin-top: 10px;
    /*margin-left: 10px;*/

}
#slider{
    position: relative;
}
#slider ul{
    position: absolute;
    right: 35px;
    bottom: 20px;
}
#slider li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #555;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    float: left;
}
#slider li:hover{
    background-color: #e4393c;
    cursor: pointer;
}
#slider_box a{
    margin-left: 10px;
}
/************三小广告*************/
#slider_box .ad{
    width: 668px;
    height: 159px;
    border: 1px solid #eee;
    border-top: none;
    margin-left: 10px;
}
#slider_box .ad span a{
    background-image: url("images/index/ad-arraw.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 35px;

}
#slider_box .preview a,#slider_box .preview a:hover{
    float: left;
    margin: 65px 4px 59px 3px;
}
#slider_box .ad ul li{
    float: left;
    height: 159px;
    /*padding: 5px 10px 7px 5px;*/
    border-right: 1px solid #eee;
}
#slider_box .ad ul .li_last{
    border-right: none;
}
#slider_box .ad span a:hover {
    background-image:url(images/index/ad-arraw-hover.png);
}

#slider_box .next a, #slider_box .next a:hover{
    float: right;
    margin: 65px 3px 59px 0;
    background-position: 0 -37px;
}
/*******************京东快报图*****************/
#focus_extra{
    padding-top: 10px;
    float: left;
    margin-left: 15px;
}
#focus_extra a{
    margin-right: 0;
}
#focus_extra .ad img{
    width:306px;
    height: 70px;
}

/****************京东快报内容****************/
#focus_extra #news{
    margin-top: 5px;
    height: 145px;
}
#focus_extra #news .title{
    margin-top: 12px;
    padding-bottom: 4px;
    overflow: hidden;
}
#focus_extra #news .title span{
    float: left;
    font-weight: bold;
    font-size: 14px;
}
#focus_extra #news .title a{
    color:#005ea7;
    font-size: 12px;
    float: right;
}

#focus_extra #news .content{
    width: 308px;
    border: 1px solid #f1f1f1;
    border-top: 2px solid #aaa;
    padding: 4px 0;
    line-height: 25px;
    overflow: hidden;
}
#focus_extra #news .content ul{
    float: left;
    padding:0 10px;
    border-right: 1px solid #f1f1f1;
}
#focus_extra #news .content li a{
    color: #666;
}
#focus_extra #news .content ul.right{
    border-right: none;
}

/*************八个功能图标***********/
#virtuals {
    margin-top: 6px;
    width: 308px;
    height: 166px;
    border-left: 1px solid #f1f1f1;
    border-bottom:1px solid #f1f1f1;
}
#virtuals ul li{
    width: 76px;
    height: 84px;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    float: left;
    text-align: center;
}
#virtuals s{
    background: url("images/index/virtuals-20140606.png") no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    margin: 11px auto 2px auto;
}
#virtuals ul #jipiao s{
    background-position: 0 -50px;
}
#virtuals ul #caipiao s{
    background-position: -126px 0;
}
#virtuals ul #youxi s{
    background-position: -189px 0;
}

#virtuals ul #lvxing s{
    background-position: -63px 0;
}
#virtuals ul #dianyingpiao s{
    background-position: -63px -50px;
}
#virtuals ul #licai s{
    background-position: -126px -50px;
}
#virtuals ul #shuidianmei s{
    background-position: -189px -50px;
}

#virtuals ul li i {
    background:url(images/index/virtuals_arraw.gif) no-repeat center center;
    width:20px;
    height:15px;
    display:block;
    margin:0 auto;
}

/*******************************index V 02 ************************************************/
#main #show_box{
    padding: 10px 0;
}
#show_box>p{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
#show_box span{
    font-size: 10pt;
    font-style: italic;
    color: #999;
    margin-left: 10px;
}
/*展示项*/
#show_box>ul>li{
    width:297px;
    height: 190px;
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    /*线性变化*/
    transition:background 0.3s linear;
}
/*透明遮罩*/
#show_box>ul>li>b {
    background-color:#fff;
    opacity:0.8;
    width:45%;
    height:190px;
    height:100%;
    display:block;
    position:relative;
    z-index:100;
}

/*遮罩上一层的文本*/
#show_box>ul>li>div {
    padding:20px;
    margin-top:10px;
    position:absolute;
    top:0px;
    left:0px;
    z-index:200;
    color:#333;
}
#show_box>ul>li>div>h3 {
    font-size:18px;
    color:#50504c;
    font-weight:bold;
}
#show_box>ul>li>div>h4 {
    line-height:20px;
    font-size:13px;
    color:#666;
    font-weight:normal;
}
#show_box>ul>li>div>p {
    color:#e4393c;
    font-size:12px;
    /*font-weight:normal;*/
}
#show_box>ul>li>div>span {
    padding: 1px 3px;
    font-size: 12px;
    background: #e4393c;
    color: #fff;
}
#show_box>ul>li>div>ul {
    margin-top:20px;
}
#show_box>ul>li>div>ul>li {
    color:#888;
}
#show_box>ul>li>div>ul>li>i {
    width: 2px;
    height: 2px;
    background-color: #666;
    float: left;
    margin-top: 7px;
    margin-right: 4px;
}
/****************列表项背景图片*******************/
#show_box>ul>li:hover {
    background-position:-10px 0;
}
li.pinpaijie{
    background-image: url("images/index/show_01.jpg");
}
li.ttdijia {
    background-image:url(images/index/show_02.jpg);
}
li.haodongxi {
    background-image:url(images/index/show_03.jpg);
}
li.jinrituangou {
    background-image:url(images/index/show_04.png);
}
li.jdshoufa {
    background-image:url(images/index/show_05.jpg);
}
li.youhuiquan{
    background-image:url(images/index/show_06.jpg);
}
li.jdyushou {
    background-image:url(images/index/show_07.jpg);
}
li.jinrongjingxuan {
    background-image:url(images/index/show_08.jpg);
}